<div class="app-sidebar-content">
  <mat-nav-list>
    <app-sidenav-list-item
      (navigate)="closeSidenav.emit()"
      routerLink="/weather-forecast"
      icon="get_app"
      hint="Get Data Feature"
    >
      <span>Weather Forecasts</span>
    </app-sidenav-list-item>
    <app-sidenav-list-item
      (navigate)="closeSidenav.emit()"
      routerLink="/feature"
      icon="hotel"
      hint="Lazy Loaded Feature"
    >
      <span>Coutner</span>
    </app-sidenav-list-item>
  </mat-nav-list>
</div>
