{
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "importOrderParserPlugins": ["typescript", "decorators-legacy"],
    "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }