<app-page-toolbar [title]="layoutFacade.title()">
  <mat-form-field appearance="outline">
    <input matInput
           #count
           type="number"
           placeholder="Forecast Days"
           (keyup.enter)="getForecasts(+count.value)"
           [value]="weatherForecastService.count$ | async" />
  </mat-form-field>
  <app-page-toolbar-button (click)="getForecasts(+count.value)"
                           tooltip="Get Forecasts">
    <mat-icon>refresh</mat-icon>
  </app-page-toolbar-button>
</app-page-toolbar>
<app-page-container>
  <app-forecast-table [loading]="weatherForecastService.loading$ | async"
                      [data]="weatherForecastService.entities$ | async"></app-forecast-table>
</app-page-container>