@import '@angular/material/theming';
@include mat-core();

$light-app-primary: mat-palette($mat-indigo);
$light-app-accent: mat-palette($mat-pink, A200, A100, A400);
$light-app-warn: mat-palette($mat-red);
$light-app-theme: mat-light-theme(
  $light-app-primary,
  $light-app-accent,
  $light-app-warn
);

@include angular-material-theme($light-app-theme);

$dark-app-primary: mat-palette($mat-blue-grey);
$dark-app-accent: mat-palette($mat-orange, A200, A100, A400);
$dark-app-warn: mat-palette($mat-red);
$dark-app-theme: mat-dark-theme(
  $dark-app-primary,
  $dark-app-accent,
  $dark-app-warn
);

@media (prefers-color-scheme: dark) {
  @include angular-material-theme($dark-app-theme);
}
