@import './app-variables.scss';

html,
body,
app-root,
mat-sidenav-container,
.app-content {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: $app-font-family;
  font-display: swap;
}

.flex-spacer {
  display: flex;
  flex: 1 1 0.0000001px;
}

@media (prefers-color-scheme: dark) {
  a,
  a:hover,
  a:visited {
    color: #90caf9;
  }
}

@media (max-width: $app-mobile-max-width) {
  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: block;
  }
}

@media (min-width: $app-non-mobile-min-width) {
  .hide-mobile {
    display: block;
  }

  .show-mobile {
    display: none !important;
  }
}
