@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
  }

  @media (prefers-color-scheme: dark) {
    a,
    a:hover,
    a:visited {
      @apply text-sky-300;
    }
  }
}
