:host .mat-button {
    background-color: rgba(0,0,0,0.12);
    margin: 8px 4px;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    line-height: 42px;
    font-size:  16px;
    
    .mat-icon {
        height: 28px;
    }
}