<ng-container *ngIf="{updateReady: updateReady$ | async} as vm">
  <app-main-toolbar (toggleSidenav)="layoutFacade.toggleSidenav()"></app-main-toolbar>
  <mat-sidenav-container class="mat-app-background"
                         fullscreen>
    <mat-sidenav mode="over"
                 [opened]="layoutFacade.showSidenav()"
                 (openedChange)="sidenavChanged($event)"
                 class="mat-app-background">
      <app-sidenav (toggleSidenav)="layoutFacade.toggleSidenav()"
                   (closeSidenav)="layoutFacade.closeSidenav()"></app-sidenav>
    </mat-sidenav>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</ng-container>