$app-font-family: 'Roboto', sans-serif;
$app-mobile-max-width: 720px;
$app-non-mobile-min-width: 721px;

$app-mat-drawer-container-height: calc(100% - 56px);
$app-mat-drawer-container-background-color: rgb(250, 250, 250);
$app-main-toolbar-height: 56px;
$app-main-toolbar-color: rgba(255, 255, 255, 0.75);
$app-main-toolbar-background: rgb(35, 35, 35);

$app-page-toolbar-height: 38px;
$app-page-toolbar-background: rgba(255, 255, 255, 0.95);

$app-pre-background: #f6f8fa;

// .dark-theme
$app-dark-pre-background: rgb(18, 18, 18);
$app-dark-mat-drawer-container-background-color: rgb(31, 31, 31);
$app-dark-page-toolbar-background: rgb(54, 54, 54);
$app-dark-main-toolbar-background: rgb(40, 40, 40);