html,
body,
app-root,
mat-sidenav-container,
.app-content {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.flex-spacer {
  display: flex;
  flex: 1 1 0.0000001px;
}

// .mat-drawer-content {
//   overflow: unset !important;
//   height: calc(100% - 56px) !important;
// }

@media (max-width: 720px) {
  .hide-mobile {
    display: none !important;
  }
  .show-mobile {
    display: block;
  }
}

@media (min-width: 721px) {
  .hide-mobile {
    display: block;
  }
  .show-mobile {
    display: none !important;
  }
}