<mat-spinner [diameter]="30"
             *ngIf="loading; else tableBlock"></mat-spinner>

<ng-template #tableBlock>
  <div class="example-container mat-elevation-z2">
    <mat-table #table
               [dataSource]="dataSource">
      <ng-container matColumnDef="dateFormatted">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let forecast">
          {{ forecast.dateFormatted }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="temperatureC">
        <mat-header-cell *matHeaderCellDef> Temp. (C) </mat-header-cell>
        <mat-cell *matCellDef="let forecast">
          {{ forecast.temperatureC }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="temperatureF">
        <mat-header-cell *matHeaderCellDef> Temp. (F) </mat-header-cell>
        <mat-cell *matCellDef="let forecast">
          {{ forecast.temperatureF }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="summary">
        <mat-header-cell *matHeaderCellDef> Summary </mat-header-cell>
        <mat-cell *matCellDef="let forecast"> {{ forecast.summary }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</ng-template>