<app-page-toolbar [title]="title$ | async">

</app-page-toolbar>
<app-page-container>
  <mat-card>
    <h1 id="angular51angularcli16ngrxplatformnetcore20serversiderenderingoptionalstarter">Angular 8 + Angular Cli 8 + NgRx Platform + .NET Core 2.2.0 + Server Side Rendering (optional) Starter</h1>

    <p>This is basic demo of how to use an Angualr SPA and .NET Core 2.2 with <a href="https://docs.microsoft.com/en-us/aspnet/core/spa/">Microsoft.AspNetCore.SpaServices.Extensions</a>.</p>

    <h1 id="gettingstarted">Getting Started?</h1>

    <ul>
      <li><strong>Make sure you have at least Node 8.x or higher (w/ npm 5+) installed!</strong> </li>

      <li><strong>This repository uses ASP.Net Core 2.2.0, which has a hard requirement on .NET Core SDK 2.2.103. Please install these items from <a href="https://www.microsoft.com/net/learn/get-started/windows">here</a></strong></li>
    </ul>

    <h3 id="visualstudio2017">Visual Studio 2017</h3>

    <p>Make sure you have .NET Core 2.2.0 installed and/or VS2017 15.9.5.
      VS2017 should automatically install all the necessary npm &amp; .NET dependencies when you open the project.</p>

    <p>Simply push F5 to start debugging !</p>

    <h3 id="visualstudiocode">Visual Studio Code</h3>

    <blockquote>
      <p>Note: Make sure you have the C# extension &amp; .NET Core Debugger installed.</p>
    </blockquote>

    <p>The project comes with the configured Launch.json files to let you just push F5 to start the project. Keep in mind this may take a bit the first time the project is run, as all of the npm + NuGet packages need to be installed and the .NET and Angular client apps need to be built.</p>

    <p>To run the app via the terminal, cd into the directory you cloned the project into then into the ./ClinetApp/ directory. In this example, the "ClientApp" folder contains a pretty standard Angular CLI generated app with the necessary modifications for .NET Core SSR and the NgRx platform components added. The npm dependencies should be installed when you do a "dotnet build", but it's never a bad idea to just do it manually to make any unexpected installation errors evident.</p>

    <pre><code class="bash language-bash"># cd ./ClientApp/
npm install</code></pre>

    <p></p>

    <p>To then start the app, cd ../ (or back into the root directory). The root directory contains a fairly standard .NET Web App, with the main difference being that the new Microsoft.AspNetCore.SpaServices.Extensions serves the Angular app directly from the CLI genreated index.html, not the more typical "_Layout.cshtml" + "Views/Home/Index.cshtml" + "Controllers/HomeController.cs" setup.</p>

    <pre><code class="bash language-bash"># cd ../
dotnet restore

# The package.json in the root folder calls "dotnet run" 
# with a pre-configured launch profile to run in dev mode.
npm start</code></pre>

    <p></p>

    <h3 id="ssrserversiderendering">SSR (Server Side Rendering)</h3>

    <p>To enable SSR, simply uncomment the following block of code in startup.cs:</p>

    <pre><code>// spa.UseSpaPrerendering(...);</code></pre>

    <p>And enable this flag in the .csproj file so the server version of client app will be built upon publishing, and the necessary node_modules folder will be deployed:</p>

    <pre><code>&lt;!-- Set this to true if you enable server-side prerendering --&gt;
&lt;BuildServerSideRenderer&gt;false&lt;/BuildServerSideRenderer&gt;</code></pre>

    <h3 id="runproductionapp">Run Production App</h3>

    <p>To run the production app locally, you'll first need to build the client app in production mode, and the server app if using SSR.</p>

    <h4 id="notusingssr">Not Using SSR</h4>

    <p>Build the client app in production mode:</p>

    <pre><code class="bash language-bash"># cd ./ClientApp/
npm run build:prod</code></pre>

    <p>
      Then start dotnet in production mode by using the supplied launch settings and npm script to load them:</p>

    <pre><code class="bash language-bash"># cd ../
npm run dotnet:run:prod</code></pre>

    <p></p>

    <h4 id="usingssr">Using SSR</h4>

    <p>Build the client app and server app in production mode:</p>

    <pre><code class="bash language-bash"># cd ./ClientApp/
npm run build:prod
npm run build:ssr:prod</code></pre>

    <p>
      Then start dotnet in production mode by using the supplied launch settings and npm script to load them:</p>

    <pre><code class="bash language-bash"># cd ../
npm run dotnet:run:prod</code></pre>
  </mat-card>
</app-page-container>
