.mat-toolbar {
    &.app-main-toolbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2020;
    }
    height: 56px;
    background: rgb(35,35,35);
    color: #fff;


    .mat-icon-button {
        margin: 0 8px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    .logo {
        height: 56px;
        img {
            height: 48px;
            margin: 4px;
        }
    }
}