@import 'src/styles/app-variables.scss';

.app-main-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2020;
  height: $app-main-toolbar-height;
  background: $app-main-toolbar-background;
  color: $app-main-toolbar-color;

  .mat-icon-button {
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .logo {
    height: $app-main-toolbar-height;

    img {
      height: 48px;
      margin: 4px;
    }
  }

  a.logo,
  a.logo:visited,
  a.logo:hover,
  a.logo-text,
  a.logo-text:visited,
  a.logo-text:hover {
    text-decoration: none;
    color: hsla(0, 0%, 100%, .75);
  }
}

@media (prefers-color-scheme: dark) {
  ::ng-deep {
    .app-main-toolbar {
      background: $app-dark-main-toolbar-background;
    }
  }
}
