<mat-toolbar class="app-main-toolbar">
  <button mat-icon-button (click)="emitToggleSidenav($event)" class="show-mobile">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">
    <img src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" />
  </span>
  <span class="logo-text">
    Demo App
  </span>
  <span class="flex-spacer"></span>
  <div class="hide-mobile">
    <button mat-icon-button [routerLink]="['/']" matTooltip="Home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/forecasts']" matTooltip="Get Data Feature">
      <mat-icon>get_app</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/feature']" matTooltip="Lazy Loaded Feature">
      <mat-icon>hotel</mat-icon>
    </button>
  </div>
</mat-toolbar>