@import 'src/styles/app-variables.scss';

.mat-drawer-container {
  margin-top: $app-main-toolbar-height;
  height: $app-mat-drawer-container-height;
  background-color: $app-mat-drawer-container-background-color;
}
